@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400&display=swap');

/*------RESET------*/

*{
    margin: 0;
    padding: 0;
}

/*------HEADER-----*/

header{
    background-color: rgb(210, 237, 242);
    padding: 25px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header h1{
    color: rgb(23, 133, 218);
    font-size: 50px;
    font-family: 'Belanosima', sans-serif;
    font-weight: 900;
}

header h1 span{
    color: rgb(215, 232, 120);
}

h2{ 
    color: rgb(17, 15, 15);
}

header nav ul{
list-style: none;
display: flex;
}

header nav ul li{
    display: inline-block;
    margin: 5px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

header nav ul li a:hover{
    text-decoration: underline;
    color: rgb(33, 11, 131);
} 

header nav img{
    width: 100px;
    height: 100%;
}

header nav{
    background-color: rgb(210, 237, 242);
}

i{
    font-size: 15px;
    color: rgb(45, 4, 168);
}

/*------MAIN-----*/

body {
    font-family: 'Belanosima', sans-serif;
}

.hero{
    width: 100%;
    height: calc(70vh - 150px);
    background-image: url(../img/perritos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2{
    display: inline-block;
    font-size: 40px;
    border: 5px;
}

.hero p{
    font-size: 20px;
    margin-bottom: 20px;
}

.adopta{
    display: flex;
    align-items: center;
}

.subtitulo-adopta {
    display: flex;
}

.subtitulo-adopta p{
    max-width: 600px;
}

.adopta div{
    width: 50%;
}

.adopta div h2{
font-size: 35px;
}

.adopta div p{
    font-size: 20px;
}

.subtitulo-adopta {
    display: flex;
    align-items: center;
}

.imagen-adopta {
    background-image: url('../img/adopta.jpg');
    width: 100%;
    height: 0;
    padding-top: 56%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.boton{
    text-decoration: none;
    color: aliceblue;
    background-color: black;
    padding: 10px;
}

.boton:active{
    background-color:  rgb(23, 133, 218);
    color: white;
}

.animalitos h2{
background-color: rgb(0, 0, 0);
color: white;
text-align: center;
padding: 10px;
}

.animalitos .card-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.animalitos .card-flex div{
    width: 250px;
    height: 350px;
    border: 2px solid black;
    text-align: center;
    background-color: black;
    color: white;
    margin: 20px;
    display: inline-block;
    box-shadow: 10px 10px 7px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 7px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 7px 4px rgba(0,0,0,0.75);
}

.animalitos div h3{
    margin-bottom: 10px;
}

.animalitos div img{
    width: 250px;
    height: 250px;
}

.animalitos div a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-weight: 600;
    margin: 20px;
    display: inline-block;
}

.animalitos div a:hover{
    background-color:  rgb(23, 133, 218);
    color: white;
}

.position{
    position: fixed;
    bottom: 100px;
    right: 50px;
}

.position img{
    width: 50px;
}

.grid-galeria{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
}

.grid-galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item{
    box-shadow: 10px 10px 7px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 7px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 7px 4px rgba(0,0,0,0.75);
    position: relative;
}

.grid-item h3{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.681);
    width: 100%;
    text-align: center;
}

.img-1{
    grid-column: span 2;
}

.img-4{
    grid-row: span 2;
}

.img-9{
    grid-column: span 2;
}

.portada-mascotas{
    display: flex;
}


/*-----FOOTER-----*/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

footer h2{
    color: rgb(23, 133, 218);
    font-size: 25px;
    font-family: 'Belanosima', sans-serif;
    font-weight: 900;
}

footer h2 span{
    color: rgb(215, 232, 120);
}

footer div a img{
    width: 50px;
    height: 50px;
}



@media screen and (max-width: 950px){
    .grid-galeria{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 220px;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }

    .img-9{
        grid-column: span 2;
    }
}

    .adopta{
        flex-direction: column;
    }

    .adopta div{
        width: 80%;
        text-align: center;
        margin: 20px;
    }

    .adopta img{
        width: 50%;
        height: 500px;
    }


@media screen and (max-width:720px){
    .hero h2{
        font-size: 30px;
    }
    .hero p{
        font-size: 25px;
    }
}

@media screen and (max-width:640px){
    header{
        position: static;
    }
    .position{
        display: none;
    }
    iframe{
        display: none;
    }
}


@media screen and (max-width:515px){
    header{
        flex-direction: column;
    }
}


@media screen and (max-width:450px){
    .grid-galeria{
        grid-template-columns: 1fr;
    }

    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
        }
    }
    
    @media screen and (max-width: 1025px) {
        .subtitulo-adopta {
            flex-direction: column;
        }
    
        .imagen-adopta {
            width: 45%; 
            margin-top: 0;
        }
    
        .video-responsive {
            width: 45%;
        }
    }
