$font-family: 'Belanosima', sans-serif;

$color-primario: black;
$color-secundario: rgb(210, 237, 242);
$color-terciario: rgb(215, 232, 120);
$color-cuaternario:  rgb(23, 133, 218);
$color-quinario:  rgb(33, 11, 131);
$primary-color-hover: rgb(23, 133, 218);


$font-size:
50px
15px
